CBRTemplateProj/XML_Update_On_Orders.xsd

<?xml version="1.0"?>
<xs:schema xmlns:ns3="http://schemas.microsoft.com/Sql/2008/05/Types/Tables/dbo" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/Sql/2008/05/TableOp/dbo/Orders" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation=".\XML_Update_On_Orders_Ref_1.xsd" namespace="http://schemas.microsoft.com/Sql/2008/05/Types/Tables/dbo" />
  <xs:annotation>
    <xs:appinfo>
      <fileNameHint xmlns="http://schemas.microsoft.com/servicemodel/adapters/metadata/xsd">TableOperation.dbo.Orders</fileNameHint>
    </xs:appinfo>
  </xs:annotation>
  <xs:complexType name="RowPair">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="After" nillable="true" type="ns3:Orders" />
      <xs:element minOccurs="1" maxOccurs="1" name="Before" nillable="true" type="ns3:Orders" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q1="http://schemas.microsoft.com/Sql/2008/05/TableOp/dbo/Orders" name="RowPair" nillable="true" type="q1:RowPair" />
  <xs:complexType name="ArrayOfRowPair">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.microsoft.com/Sql/2008/05/TableOp/dbo/Orders" minOccurs="0" maxOccurs="unbounded" name="RowPair" type="q2:RowPair" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q3="http://schemas.microsoft.com/Sql/2008/05/TableOp/dbo/Orders" name="ArrayOfRowPair" nillable="true" type="q3:ArrayOfRowPair" />
  <xs:element name="Update">
    <xs:annotation>
      <xs:documentation>
        <doc:action xmlns:doc="http://schemas.microsoft.com/servicemodel/adapters/metadata/documentation">TableOp/Update/dbo/Orders</doc:action>
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/Sql/2008/05/TableOp/dbo/Orders" minOccurs="0" maxOccurs="1" name="Rows" nillable="true" type="q4:ArrayOfRowPair" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponse">
    <xs:annotation>
      <xs:documentation>
        <doc:action xmlns:doc="http://schemas.microsoft.com/servicemodel/adapters/metadata/documentation">TableOp/Update/dbo/Orders/response</doc:action>
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="UpdateResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>